
button.navbar-toggler{
  background-color: #ffffff;
}






.container-fluid{
  color:blue;
}




.navbar-brand{
  color:#ffffff;
  float:left;
}



.container1 .text-muted {
  padding-top: 20px;
}



.list-group{
  margin-bottom: 0;
}

.list-group-item {
  margin-left: 2%;
  margin-right: 2%;
}




.btn-default {
  color: #ffffff;
  background-color: #777777;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #777777;
}



